:root {
  /* Base Colors */
  --foreground: #000;
  --background: #fff;
  /* Success */
  --success-lighter: #d3e5ff;
  --success-light: #3291ff;
  --success: #0070f3;
  --success-dark: #0761d1;
  /* Error */
  --error-lighter: #f7d4d6;
  --error-light: #ff1a1a;
  --error: #e00;
  --error-dark: #c50000;
  /* Warning */
  --warning-lighter: #ffefcf;
  --warning-light: #f7b955;
  --warning: #f5a623;
  --warning-dark: #ab570a;
  /* Extra */
  /* Violet */
  --violet-lighter: #e3d7fc;
  --violet-light: #8a63d2;
  --violet: #7928ca;
  --violet-dark: #4c2889;
  /* Cyan */
  --cyan-lighter: #aaffec;
  --cyan-light: #79ffe1;
  --cyan: #50e3c2;
  --cyan-dark: #29bc9b;
  /* Highlight */
  --highlight-purple: #f81ce5;
  --highlight-magenta: #eb367f;
  --highlight-pink: #ff0080;
  --highlight-yellow: #fff500;
  /* Accents */
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999;
  --accents-4: #888;
  --accents-5: #666;
  --accents-6: #444;
  --accents-7: #333;
  --accents-8: #111;
}
